<div class="container-fluid about-me">
  <div class="col-md-6 col-sm-12 text-center descripcion">
    <h1>
      <span class="letter" (mouseenter)="mouseEnter($event)" *ngFor="let letter of letters">{{letter}}</span>
    </h1>
    <h3>WEB DESIGNER</h3>
    <p class="descripcion-larga">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p class="descripcion-corta">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <ul>
        <li class="social-icon" *ngFor="let social of socialMedia">
          <a href="{{social.me}}" target="_blank">
            <i class="fa fa-{{social.type}}"></i>
          </a>
        </li>
      </ul>
  </div>
</div>
