<div class="container-fluid about-me">
  <div class="col-md-6 col-sm-12 text-center descripcion">
    <h2>Ismael Santana Pérez</h2>
    <h3>WEB DESIGNER</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <ul>
        <li class="social-icon"><i class="fa fa-facebook"></i></li>
        <li class="social-icon"><i class="fa fa-twitter"></i></li>
        <li class="social-icon"><i class="fa fa-linkedin"></i></li>
      </ul>
  </div>
</div>
