<div class="container-fluid theme-work">
  <div class="row contenido">
    <div class="col-sm-6 info">
      <h3 class="text-center font-weight-bold">Formación Académica y Experiencia Laboral</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
      <ul class="timeline">
        <li data-aos="zoom-in">
          <div class="circle timeline-image img-diploma">
            <img class="img-circle img-responsive" src="" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Bachillerato Tecnológico</h4>
              <h4 class="subheading">2009-2011</h4>
            </div>
            <div class="timeline-body">
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatt.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted" data-aos="zoom-in">
          <div class="circle timeline-image img-redes">
            <img class="img-circle img-responsive" src="" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>CFGS de Admin. de Sistemas Informáticos en Red</h4>
              <h4 class="subheading">2011-2013</h4>
            </div>
            <div class="timeline-body">
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
        <li data-aos="zoom-in">
          <div class="circle timeline-image img-montesano">
            <img class="img-circle img-responsive" src="" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Practicas de final de Ciclo Superior</h4>
              <h4 class="subheading">Abril-Junio 2013</h4>
            </div>
            <div class="timeline-body">
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted" data-aos="zoom-in">
          <div class="circle timeline-image img-web">
            <img class="img-circle img-responsive" src="" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>CFGS de Desarrollo de Aplicaciones Web</h4>
              <h4 class="subheading">2015-2017</h4>
            </div>
            <div class="timeline-body">
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
        <li data-aos="zoom-in">
          <div class="circle timeline-image img-hybridap">
            <img class="img-circle img-responsive" src="" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Practicas de final de Ciclo Superior</h4>
              <h4 class="subheading">Marzo-Junio 2017</h4>
            </div>
            <div class="timeline-body">
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted" data-aos="zoom-in">
          <div class="circle timeline-image img-atos">
            <img class="img-circle img-responsive" src="" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Beca como Programador</h4>
              <h4 class="subheading">Julio 2017-Actualmente</h4>
            </div>
            <div class="timeline-body">
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>