.cabecera{
    height: 80px;
}
.avatar{
    width:200px;
    border-radius: 50%;
    position: relative;
    top: -20px;
}

.menu{
    height: 50px;
    position: relative;
    top: 55px;
}

.show-social-btn, .show-menu-btn{
    border: none;
    border-radius: 6px;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 3px;
    width: 40px;
    margin-right: 5px;
    margin-left: 5px;
}

.show-social-btn{
    background: #DB7114;
    -webkit-box-shadow: 0 6px 0 rgb(197, 93, 3);
    -moz-box-shadow: 0 6px 0 rgb(197, 93, 3);
    box-shadow: 0 6px 0 rgb(197, 93, 3);
}

.show-menu-btn{
    background: #147EDB;
    -webkit-box-shadow: 0 6px 0 rgb(9, 97, 173);
    -moz-box-shadow: 0 6px 0 rgb(9, 97, 173);
    box-shadow: 0 6px 0 rgb(9, 97, 173);
}

.social-btn, .menu-btn{
    border: none;
    border-radius: 6px;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 3px;
    width: 40px;
    margin-right: 5px;
}

.texto-icono{
    position: relative;
}

.selected, .transparente-btn:hover{
    color: white;
    text-shadow: -2px 0 #DB7114, 0 2px #DB7114, 2px 0 #DB7114, 0 -2px #DB7114;
}

.fb{
    background: #3b5998;
    -webkit-box-shadow: 0 6px 0 #293f63;
    -moz-box-shadow: 0 6px 0 #293f63;
    box-shadow: 0 6px 0 #293f63;
}

.email{
    background-color: #40BAA5;
    -webkit-box-shadow: 0 6px 0 rgb(39, 145, 127);
    -moz-box-shadow: 0 6px 0 rgb(39, 145, 127);
    box-shadow: 0 6px 0 rgb(39, 145, 127);
}

.in{
    background: #007bb5;
    -webkit-box-shadow: 0 6px 0 #005377;
    -moz-box-shadow: 0 6px 0 #005377;
    box-shadow: 0 6px 0 #005377;
}

.cv{
    background-color: #DB7114;
    -webkit-box-shadow: 0 6px 0 rgb(197, 93, 3);
    -moz-box-shadow: 0 6px 0 rgb(197, 93, 3);
    box-shadow: 0 6px 0 rgb(197, 93, 3);
}

.project{
    background-color: rgb(219, 223, 20);
    -webkit-box-shadow: 0 6px 0 rgb(181, 184, 12);
    -moz-box-shadow: 0 6px 0 rgb(181, 184, 12);
    box-shadow: 0 6px 0 rgb(181, 184, 12);
}

.fb:hover, .in:hover, .email:hover{
    color: #DB7114;
}

.no-margin{
    margin: 0 !important;
    padding: 0 !important;
}