<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand logo"></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar">
            <span> </span>
            <span> </span>
            <span> </span>
        </button>
        <div class="navbar-collapse collapse text-center" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-center" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a id="about" class="nav-link" routerLink="about">
                        <i class="fa fa-user-o"></i>
                    </a>
                </li>
                <li class="nav-item text-center" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a id="experience" class="nav-link" routerLink="experience">
                        <i class="fa fa-graduation-cap"></i>
                    </a>
                </li>
                <li class="nav-item text-center" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a id="skills" class="nav-link" routerLink="skills">
                        <i class="fa fa-eye"></i>
                    </a>
                </li>
                <li class="nav-item text-center" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a id="work" class="nav-link" routerLink="work">
                        <i class="fa fa-briefcase"></i>
                    </a>
                </li>
                <li class="nav-item text-center" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a id="contact" class="nav-link" routerLink="contact">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>