<div class="container text-center cabecera">
  <div class="col-sm-12 menu">
    <div class="row">
      <div class="col-sm-6 text-left">
        <button class="transparente-btn hvr-bob">
          <i class="fa fa-file-text-o iconos selected" aria-hidden="true"></i>
          <span class="texto-icono selected">CV</span>
        </button>
        <button class="transparente-btn hvr-bob">
          <i class="fa fa-file-code-o iconos" aria-hidden="true"></i>
          <span class="texto-icono">Projects</span>
        </button>
      </div>
      <div class="col-sm-6 text-right">
        <button class="transparente-btn-social hvr-bounce-in">
          <i class="fa fa-facebook-official iconos fb" aria-hidden="true"></i>
        </button>
        <button class="transparente-btn-social hvr-bounce-in">
          <i class="fa fa-linkedin-square iconos in" aria-hidden="true"></i>
        </button>
        <button class="transparente-btn-social hvr-bounce-in">
          <i class="fa fa-twitter-square iconos tw" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <img class="avatar" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
</div>