.navbar{
    background-color: rgba(30,30,30,1);
    border-bottom: 3px solid rgba(255,255,255,.5);;
}

.logo{
    background-image: url(http://ww1.prweb.com/prfiles/2014/10/01/12487327/P1-Logo-Color.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 60px;
}

.nav-link{
    font-size: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.navbar-nav{
    flex-direction: initial !important;
    display: inline-flex !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #a7e249 !important;
}

#about:after, #work:after, #skills:after, #contact:after{
    position: relative;
    bottom: 5px;
    display: block;
    opacity: 0;
    color: #a7e249;
    font-size: 12px;
}
#about:hover:after, #work:hover:after, #skills:hover:after, #contact:hover:after, #about:focus:after, #work:focus:after, #skills:focus:after, #contact:focus:after {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
#about:after{
    content: "ABOUT";
    left: -2px;
}
#work:after{
    content: "WORK";
}
#skills:after{
    content: "SKILLS";
}
#contact:after{
    content: "CONTACT";
}

.active a:after{
    opacity: 1 !important;
}